.popup__subtitle {
  margin: 0 64px 48px 36px;
  padding: 0;
  font-size: 16px;
  line-height: 1.55;
  font-weight: 300;
}

@media screen and (max-width: 560px) {
  .popup__subtitle {
    margin: 0 auto 20px auto;
    max-width: 238px;
  }
}